<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/class-search.css">
    <title>search</title>
</head>
<body>
	<div class="rank-container">
		<h2>分类列表</h2>
		<form action="" method="post">
			<ul class="rank-ul">
				<li>
					<span class="rank-ul-font">分类I</span>
					<span class="icon-ok-circled2 sr-hide"></span>
					<span class="icon-circle-thin"></span>
				</li>
				<li>
					<span class="rank-ul-font">分类II</span>
					<span class="icon-ok-circled2"></span>
					<span class="icon-circle-thin sr-hide"></span>
				</li>
				<li>
					<span class="rank-ul-font">分类III</span>
					<span class="icon-ok-circled2"></span>
					<span class="icon-circle-thin sr-hide"></span>
				</li>
				<li>
					<span class="rank-ul-font">分类I</span>
					<span class="icon-ok-circled2"></span>
					<span class="icon-circle-thin sr-hide"></span>
				</li>
				<li>
					<span class="rank-ul-font">分类II</span>
					<span class="icon-ok-circled2"></span>
					<span class="icon-circle-thin sr-hide"></span>
				</li>
				<li>
					<span class="rank-ul-font">分类III</span>
					<span class="icon-ok-circled2"></span>
					<span class="icon-circle-thin sr-hide"></span>
				</li>
			</ul>
			<div class="rank-btn-search">
				<button class="rank-btn-cancle">Cancle</button>
				<button class="rank-btn-ok" type="submit">OK</button>
			</div>
		</form>
	</div>
	<!-- <img class="demo" src="images/2.jpg" alt=""> -->
</body>
</html>