<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, name=viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" /><!-- iphone设备中的safari私有meta标签,允许全屏模式浏览 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" /><!--iphone的私有标签，指定iphone中safari顶端的状态条的样式 -->
    <meta content="telephone=no" name="format-detection" /><!-- 忽略将页面中的数字识别为电话号码 -->
    <link rel="stylesheet" href="./views/css/common.css">
    <link rel="stylesheet" href="./views/css/module.css">
    <link rel="stylesheet" href="./views/css/collection.css">
  <title>我的收藏</title>
</head>
<body>
{include file="nav.html"}
  <ul class="collected">
    <li><span class="icon-add1 sr-hide"></span></li>
    <li ><span id ="edit" class="icon-edit5"></span></li>
    <li><span id="ok" class="icon-ok1 sr-hide"></span></li>
  </ul>
  <div class="collect-rank">
      <ul class="collect-ul">
        <li>
          <a href="###"><span class="icon-right"></span><span class="icon-down2 sr-hide"></span>最近收藏</a>
          <div class="collect-scan">
            <span class="">10</span>
            <span class="icon-icon2del sr-hide"></span>
            <span class="icon-circle1 sr-hide" id="del-1"></span>
          </div>
          <ul class="collect-article">
            {foreach from=$recent_articles item=recent_article}
            <li class="article-content">
              <p class="article-inner">{$recent_article.category_name}</p>
              <div class="absolute-container">
                <div class="icon-font sr-hide">
                  <span class="icon-ok sr-hide"></span>
                  <span class="icon-circle1 sr-hide"></span>
                </div>
                <div class="article-img" ><img style="border-radius: 50%;" src="./views/images/{$recent_article.icon}.png" alt=""></div>
                <div class="article-main">
                   <article class="article-title"><a href="{$recent_article.article_original_url}">{$recent_article.article_title}</a></article>
                  <p>{substr($recent_article.create_time,0,10)}</p>
                </div>
              </div>
            </li>
            {/foreach}
          </ul>
        </li>
        {foreach from=$collect_category  key=category_name  item=category}
        <li>
          <a href="###"><span class="icon-right"></span><span class="icon-down2 sr-hide"></span>{$category_name}</a>
          <div class="collect-scan">
            <span class="">{$category.article_num}</span>
            <span class="icon-icon2del sr-hide"></span>
            <span class="icon-circle1 sr-hide" id="del-1"></span>
          </div>
          <ul class="collect-article">
            {foreach from=$category.article item=article}
            <li class="article-content">
              <p class="article-inner"></p>
              <div class="absolute-container">
                <div class="article-img"><img src="./views/images/{$article.icon}.png" alt=""></div>
                <div class="article-main">
                  <article class="article-title"><a href="{$article.article_original_url}">{$article.article_title}</a></article>
                  <p>{substr($article.create_time,0,10)}</p>
                </div>
              </div>
            </li>
            {/foreach}
          </ul>
        </li>
        {/foreach}
        <li>
          <a href="###"><span class="icon-right"></span><span class="icon-down2 sr-hide"></span>未分类</a>
          <div class="collect-scan">
            <span class="">&nbsp;</span>
            <span class="icon-icon2del sr-hide"></span>
            <span class="icon-circle1 sr-hide" id="del-1"></span>
          </div>
          <ul class="collect-article"></ul>
        </li>
        <!--
        <li>
          <a href="###"><span class="icon-right"></span><span class="icon-down2 sr-hide"></span>分类III</a>
          <div class="collect-scan">
            <span class="">11</span>
            <span class="icon-icon2del sr-hide"></span>
            <span class="icon-circle1 sr-hide" id="del-1"></span>
          </div>
          <ul class="collect-article"></ul>
        </li>
        -->
      </ul>
    </div>
  </div>
  <form action="" method="post">
    <div class="alert-del sr-hide">
      <ul>
        <li>
          <span class="icon-circle1" id="del-1"></span>
          <span class="icon-dot sr-hide" id="del-1"></span>
          <label class="del-font">删除分类以及所有文章</lable>
        </li>
        <li>
          <span class="icon-circle1" id="del-1"></span>
          <span class="icon-dot sr-hide" id="del-1"></span>
          <label class="del-font">仅删除类并将所有文章移至未分类</label>
        </li>
      </ul>
      <div class="del-btn">
        <button class="btn-cancle">Cancle</button>
        <button class="btn-ok" type="submit">OK</button>
      </div>
    </div>
  </form>
  <form action="" method="post">
    <div class="alert-sort sr-hide">
      <ul>
        <li><span class="icon-circle1"></span><span class="icon-dot sr-hide"></span>分类I</li>
        <li><span class="icon-circle1"></span><span class="icon-dot sr-hide"></span>分类II</li>
        <li><span class="icon-circle1"></span><span class="icon-dot sr-hide"></span>分类III</li>
        <li><span class="icon-circle1"></span><span class="icon-dot sr-hide"></span>分类IV</li>
      </ul>
      <div class="del-btn">
        <button class="btn-cancle">Cancle</button>
        <button class="btn-ok" type="submit">OK</button>
      </div>
    </div>
  </form>
  <script src="./views/js/jquery.js"></script>
  <script src="./views/js/controler.js"></script>
  <script src="./views/js/disablescroll.js"></script>
<script src="./views/js/common.js"></script>
</body>
</html>