<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="./views/css/common.css">
    <title>nav</title>
</head>
<body>
<nav class="nav-container">
    <ul class="nav-btn">
        <li class="nav-menu" id="navMenu"><span class="icon-menu"></span></li>
        <li class="nav-search" id="navSearch"><span class="icon-search"></span></li>
    </ul>
    <div class="nav-bg"></div>
    <div class="nav-side-box">
        <div>
            <h2>三井行</h2>
            <span class="icon-menu" id="menuBack"></span>
        </div>
        <hr>
        <ul>
            <li><a href="?c=HomePage&a=home"><span class="icon-home"></span>首页</a></li>
            <li><a href="?c=Collect&a=myCollection&sys_user_id=1"><span class="icon-collect"></span>收藏</a></li>
            <li><a href=""><span class="icon-edit3"></span>建议反馈</a></li>
        </ul>
    </div>
</nav>
<!--<img class="demo" src="images/demo.jpg">-->
<script src="./views/js/jquery.js"></script>
<script src="./views/js/disablescroll.js"></script>
<script src="./views/js/jquery.dotdotdot.min.js"></script>
<script src="./views/js/common.js"></script>
</body>
</html>