
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1476240019'); /* IE9*/
  src: url('../font/iconfont.eot?t=1476240019#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1476240019') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1476240019') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1476240019#iconfont') format('svg'); /* iOS 4.1- */
}

[class^="icon-"] {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-add:before { content: "\e600"; }
.icon-add1:before { content: "\e62f"; }
.icon-add2:before { content: "\e73b"; }
.icon-edit:before { content: "\e614"; }
.icon-edit1:before { content: "\e686"; }
.icon-edit2:before { content: "\e73d"; }
.icon-edit3:before { content: "\e608"; }
.icon-edit4:before { content: "\e6e1"; }
.icon-edit5:before { content: "\e628"; }
.icon-circle:before { content: "\e719"; }
.icon-icon7:before { content: "\e62b"; }
.icon-circle1:before { content: "\e631"; }
.icon-gou1:before { content: "\e61f"; }
.icon-ok:before { content: "\e614"; }
.icon-ok1:before { content: "\e66c"; }
.icon-52-copy:before { content: "\e61b"; }
.icon-messageokicon:before { content: "\e602"; }
.icon-ok2:before { content: "\e796"; }
.icon-iconoksign64x64:before { content: "\e65c"; }
.icon-ok3:before { content: "\e616"; }
.icon-del:before { content: "\e657"; }
.icon-del1:before { content: "\e664"; }
.icon-icon2del:before { content: "\e640"; }
.icon-home:before { content: "\e64a"; }
.icon-collect:before { content: "\e636"; }
.icon-collect1:before { content: "\e607"; }
.icon-samicon11:before { content: "\e655"; }
.icon-edit6:before { content: "\e614"; }
.icon-dot:before { content: "\e649"; }
.icon-menu:before { content: "\e611"; }
.icon-delsolid:before { content: "\e7b3"; }
.icon-right:before { content: "\e606"; }
.icon-list-right:before { content: "\e600"; }
.icon-right1:before { content: "\e614"; }
.icon-right2:before { content: "\e624"; }
.icon-down:before { content: "\e61f"; }
.icon-down1:before { content: "\e971"; }
.icon-go:before { content: "\e657"; }
.icon-Go:before { content: "\e601"; }
.icon-down2:before { content: "\e669"; }
.icon-down3:before { content: "\e629"; }
.icon-down4:before { content: "\34fb"; }
.icon-right3:before { content: "\e620"; }
.icon-search:before { content: "\e60b"; }
.icon-search1:before { content: "\e60b"; }
.icon-icon02:before { content: "\e634"; }
